<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="/datatable/datatables.min.css">
    <link rel="stylesheet" href="/css/estilos.css" />
    <% if (page === 'login' || page === 'crear_cuenta') { %>
  <link rel="stylesheet" href="/css/login.css">
<% } else { %>
  <link rel="stylesheet" href="/css/estilos.css">
<% } %>
  </head>

  <body>
    <div class="d-flex"></div>

