/*  estilos para el login inicio de sesiion y el formulario de los datos para las cuentas      */
    body {
      background: linear-gradient(135deg, #1e1e1e, #2c2c2c);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      background-color: #2a2a2a;
      color: white;
      border-radius: 15px;
    }

    .form-control, .form-select {
      background-color: #3a3a3a;
      border: none;
      color: white;
    }

    .form-control:focus, .form-select:focus {
      background-color: #3a3a3a;
      color: white;
      border: 1px solid #0d6efd;
      box-shadow: none;
    }

    .modal-content {
      background-color: #2a2a2a;
      color: white;
    }